<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 设置单个/多个别名 -->
    <typeAliases>
        <!-- 单个别名 -->
        <typeAlias type="com.lzz.crowd.entity.Admin" alias="Admin"/>
    </typeAliases>
</configuration>
